######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig


######################
# Maven
######################
/log/
/target/


######################
# Package Files
######################
*.jar
*.war
*.ear
*.db


######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


######################
# Directories
######################
/bin/
/deploy/


######################
# Logs
######################
*.log


######################
# Others
######################
*.class
*.*~
*~
.merge_file*


######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar